@model IEnumerable<WooriOptical.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Customer List";
}

<h2>@ViewData["Title"]</h2>
<hr>

<a asp-action="Create" class="btn btn-primary">Create New Customer</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td>@(customer.FormattedPhone ?? "-")</td>
            <td>@(customer.FormattedAddress ?? "-")</td>
            <td>
                @* <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId" class="btn btn-sm btn-warning">Edit</a> *@
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@customer.CustomerId" class="btn btn-sm btn-info">Details</a>
                @* <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId" class="btn btn-sm btn-danger">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>